<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Genesis-genesis</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <header>
        <h1>Genesis International</h1>
        <nav>
          <ul>
            <!-- <li><a href="index.html">Home</a></li> -->
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>

    <img src="./img/slide-2.jpg" alt="about-genesis" >

    <div class="about-container">
    <h1>About Genesis School</h1>

    <p>Evergreen Schools is a faith-based institution founded in September 2012, as an answer to the burden of providing quality result oriented education. With a state-of-the-art curriculum - a blend of local and British curricula, Evergreen Schools is uniquely equipped to ensure that every child takes a proactive approach to their education. Evergreen Schools exist as Crèche, Early Years (Pre-school, Nursery School and Transition), Grade School (grade 1 - 6) and College (junior school: grade 7 - 9 & senior school grade 10 - 12)

     </p>
  </div>
    <button><a href="index.html">Back</a></button>
</body>
</html>